@import 'tailwindcss';

:root {
  --brown-gradient: linear-gradient(to right, #3a2213, #6e4122, #a05a2c);
  --button-gradient: linear-gradient(to top, #7b3b13, #6e4122, #a05a2c);
  --creamy-title: #e6c78c;
}

.footer-gradient {
  background: var(--brown-gradient);
}

.title-color {
  color: var(--creamy-title);
}

.button-color {
  background: var(--button-gradient);
}

body {
  overflow-x: hidden;
}

.techhero {
  background-image: linear-gradient(to top, #12121138, #0d0c0c9c), url('/techhero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.concourse {
  background-image: linear-gradient(to top, #12121138, #0d0c0c9c), url('/concoursebg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* width: 100%; */
}

.form-control {
  display: none;
}

@media (max-width: 768px) {
  .techhero {
    background-size: calc(310%);
  }
}
